# API
DATABASE_URL=postgresql://starter:starter@localhost:5432/starter?schema=public
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
